.advantages-list {
    display: flex;
}

.advantages-list-item {
    flex-basis: calc((100% - 3 * 30px) / 4);
}

.advantages-list-item:not(:last-child) {
    margin-right: 30px;
}

.advantages-icon {
    width: 270px;
    height: 120px;
    padding: 26px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--editional-background-color);
}

.advantages-title {
    margin-bottom: 10px;
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;
}

.advantages-description {
    font-weight: 400;
    line-height: 1.71;
    color: var(--secondary-text-color-theme-light);
}